@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik/Rubik-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-SemiBold.ttf);
  font-weight: 600;
}